/*backgrounds*/
.bg-header {
	background-image: url("../img/large.jpg");
	height: 700px;
}
.bg-logo {
	background-image: url("../img/logo-2.jpg");
	width: 100%;
	height: 100px;
}
.bg-loquiero {
	background-image: url("../img/sec-2.jpg");
	width: 100%;
	height: 500px;	
}
.bg-porque {
	background-image: url("../img/banner.jpg");
	width: 100%;
	height: 500px;			
}
.bg-azul-agua {
	background-color: rgba(52, 152, 219,0.7);
}
/*..........*/

h3, h2 {
	margin-bottom: 5%;
}
.separador {
	margin-top: 5%;
	margin-bottom: 5%;
}
iframe {
	height: 500px;
}
.navbar-brand img{
	height: 35px;
}
.inline {
	display: inline !important;
}
.logo {
	width: 65%;
	
}
nav {
	background-color: rgba(255,255,255,.3);
}
.mini {
	width: 70px;
	height: 70px;
	background-color: rgb(52, 152, 219);
	border-radius: 100%;
	padding: 2%;
}